ion-content {
    font-size: 12pt;
    h2 {
        font-size: 14pt;
    }
    h3, b {
        font-size: 12pt;
    }
    ol {
        margin: 8pt;
        li {
            margin: 8pt;
        }
    }
}