<div class="coming-soon-body" *ngIf="vendorDeatil && vendorDeatil.offSeason && vendorDeatil.offSeason.active">
  <div class="noise">
    <div class="content">
      <h1 class="border-top border-bottom"><span>{{ vendorDeatil.offSeason.heading }}</span></h1>
      <p>{{ vendorDeatil.offSeason.subHeading }} </p>
      <!-- <form>
        <input type="text" onclick="this.value='';" onfocus="this.select()"
          onblur="this.value=!this.value?'Email Address':this.value;" value="Email Address" />
        <input type="button" value="Sign Up" />
      </form> -->
    </div>
  </div>
</div>